In [142]:
import pandas as pd
import numpy as np

In [143]:
df = pd.read_csv("train.csv")

In [144]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [146]:
#This method takes dataframe as argument and return the list of indices which has NAN values.
def list_of_nan_col(df):
    col_indices_list = [i for i,j in enumerate(df.isnull().any()) if j == True ]
    return col_indices_list

In [147]:
list_of_nan_col(df)

[5, 10, 11]

In [148]:
# This method fill nan values in every column 
def fill_nan_col():
    nan_col = list_of_nan_col(df)
    for i in nan_col:
        if df[df.columns[i]].dtypes=='object': 
                    df[df.columns[i]].fillna(value=df[df.columns[i]].mode()[0], inplace=True)
        else:
            df[df.columns[i]].fillna(value=df[df.columns[i]].mean(), inplace=True)

In [149]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [150]:
%time
def fill_missing():
    for i,j in enumerate(df.isnull().any()):
        if j==True:
            if df[df.columns[i]].dtypes=='object': 
                    df[df.columns[i]].fillna(value=df[df.columns[i]].mode()[0], inplace=True)
            else:
                df[df.columns[i]].fillna(value=df[df.columns[i]].mean(), inplace=True)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.63 µs

In [151]:
%time fill_missing()

CPU times: user 5.46 ms, sys: 227 µs, total: 5.68 ms
Wall time: 4.8 ms

In [152]:

df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [153]:
%time fill_nan_col()

CPU times: user 2.56 ms, sys: 264 µs, total: 2.82 ms
Wall time: 2.02 ms

In [154]:
def remove_ids():
	id_cols=[]
	for i in df.columns:
	    if df[i].nunique()==df.shape[0]:
	        id_cols.append(i)
	if id_cols!=[]:        
		df.drop(id_cols,axis=1,inplace=True)

In [155]:
def drop_sparse():
    flist = [x for x in df.columns]
    for f in flist:
        if len(np.unique(df[f]))<2:
            df.drop(f, axis=1, inplace=True)
#             test.drop(f, axis=1, inplace=True)
    return df, #test

# if user selects tree based models then don't include one hot encoding
# else do one hot encoding

In [163]:
#one hot encode
def one_hot(df):
    if len(df.columns)<500:
        cat_col=[i for i in df.columns if df[i].dtype=='object']
        new_cat_col=[]
        print(cat_col)
        for i in cat_col:
            if df[i].nunique()>df.shape[0]//2:
                new_cat_col.append(i)
        print(new_cat_col)        
        df = pd.get_dummies(df.drop(new_cat_col,axis=1))
        #test=pd.get_dummies(test)
        return df

one_hot(df)

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
['Name', 'Ticket']

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A10,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.000000,1,0,7.2500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.000000,1,0,71.2833,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.000000,0,0,7.9250,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.000000,1,0,53.1000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.000000,0,0,8.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
5,6,0,3,29.699118,0,0,8.4583,0,1,0,...,0,0,0,0,0,0,0,0,1,0
6,7,0,1,54.000000,0,0,51.8625,0,1,0,...,0,0,0,0,0,0,0,0,0,1
7,8,0,3,2.000000,3,1,21.0750,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8,9,1,3,27.000000,0,2,11.1333,1,0,0,...,0,0,0,0,0,0,0,0,0,1
9,10,1,2,14.000000,1,0,30.0708,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10,11,1,3,4.000000,1,1,16.7000,1,0,0,...,0,0,0,0,0,1,0,0,0,1
11,12,1,1,58.000000,0,0,26.5500,1,0,0,...,0,0,0,0,0,0,0,0,0,1
12,13,0,3,20.000000,0,0,8.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
13,14,0,3,39.000000,1,5,31.2750,0,1,0,...,0,0,0,0,0,0,0,0,0,1
14,15,0,3,14.000000,0,0,7.8542,1,0,0,...,0,0,0,0,0,0,0,0,0,1
15,16,1,2,55.000000,0,0,16.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
16,17,0,3,2.000000,4,1,29.1250,0,1,0,...,0,0,0,0,0,0,0,0,1,0
17,18,1,2,29.699118,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
18,19,0,3,31.000000,1,0,18.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
19,20,1,3,29.699118,0,0,7.2250,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20,21,0,2,35.000000,0,0,26.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
21,22,1,2,34.000000,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
22,23,1,3,15.000000,0,0,8.0292,1,0,0,...,0,0,0,0,0,0,0,0,1,0
23,24,1,1,28.000000,0,0,35.5000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
24,25,0,3,8.000000,3,1,21.0750,1,0,0,...,0,0,0,0,0,0,0,0,0,1
25,26,1,3,38.000000,1,5,31.3875,1,0,0,...,0,0,0,0,0,0,0,0,0,1
26,27,0,3,29.699118,0,0,7.2250,0,1,0,...,0,0,0,0,0,0,0,1,0,0
27,28,0,1,19.000000,3,2,263.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
28,29,1,3,29.699118,0,0,7.8792,1,0,0,...,0,0,0,0,0,0,0,0,1,0
29,30,0,3,29.699118,0,0,7.8958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,21.000000,1,0,11.5000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
862,863,1,1,48.000000,0,0,25.9292,1,0,0,...,0,0,0,0,0,0,0,0,0,1
863,864,0,3,29.699118,8,2,69.5500,1,0,0,...,0,0,0,0,0,0,0,0,0,1
864,865,0,2,24.000000,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
865,866,1,2,42.000000,0,0,13.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
866,867,1,2,27.000000,1,0,13.8583,1,0,0,...,0,0,0,0,0,0,0,1,0,0
867,868,0,1,31.000000,0,0,50.4958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
868,869,0,3,29.699118,0,0,9.5000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
869,870,1,3,4.000000,1,1,11.1333,0,1,0,...,0,0,0,0,0,0,0,0,0,1
870,871,0,3,26.000000,0,0,7.8958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
871,872,1,1,47.000000,1,1,52.5542,1,0,0,...,0,0,0,0,0,0,0,0,0,1
872,873,0,1,33.000000,0,0,5.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
873,874,0,3,47.000000,0,0,9.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
874,875,1,2,28.000000,1,0,24.0000,1,0,0,...,0,0,0,0,0,0,0,1,0,0
875,876,1,3,15.000000,0,0,7.2250,1,0,0,...,0,0,0,0,0,0,0,1,0,0
876,877,0,3,20.000000,0,0,9.8458,0,1,0,...,0,0,0,0,0,0,0,0,0,1
877,878,0,3,19.000000,0,0,7.8958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
878,879,0,3,29.699118,0,0,7.8958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
879,880,1,1,56.000000,0,1,83.1583,1,0,0,...,0,0,0,0,0,0,0,1,0,0
880,881,1,2,25.000000,0,1,26.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
881,882,0,3,33.000000,0,0,7.8958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
882,883,0,3,22.000000,0,0,10.5167,1,0,0,...,0,0,0,0,0,0,0,0,0,1
883,884,0,2,28.000000,0,0,10.5000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
884,885,0,3,25.000000,0,0,7.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
885,886,0,3,39.000000,0,5,29.1250,1,0,0,...,0,0,0,0,0,0,0,0,1,0
886,887,0,2,27.000000,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,1,19.000000,0,0,30.0000,1,0,0,...,0,0,0,0,0,0,0,0,0,1
888,889,0,3,29.699118,1,2,23.4500,1,0,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,26.000000,0,0,30.0000,0,1,0,...,0,0,0,0,0,0,0,1,0,0
890,891,0,3,32.000000,0,0,7.7500,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [162]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S

In [103]:
from sklearn import preprocessing, model_selection, metrics


def label_encode():
	for f in df.columns :
	        if (df[f].dtype=='object'):
	           
	            lbl = preprocessing.LabelEncoder()
	            lbl.fit(list(df[f].values))
	            df[f] = lbl.transform(list(df[f].values))
# 	            test[f] = lbl.transform(list(test[f].values))

In [104]:
label_encode()

In [105]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name             int64
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket           int64
Fare           float64
Cabin            int64
Embarked         int64
dtype: object

In [65]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,47,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,47,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,47,2

In [35]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,"Name_Abbing, Mr. Anthony","Name_Abbott, Mr. Rossmore Edward","Name_Abbott, Mrs. Stanton (Rosa Hunt)",...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,7.2500,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,0,0,...,0,0,0,0,0,0,0,0,0,1