In [34]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv("train.csv")

In [50]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [52]:
#This method takes dataframe as argument and return the list of indices which has NAN values.
def list_of_nan_col(df):
    col_indices_list = [i for i,j in enumerate(df.isnull().any()) if j == True ]
    return col_indices_list

In [53]:
list_of_nan_col(df)

[5, 10, 11]

In [54]:
# This method fill nan values in every column 
def fill_nan_col():
    nan_col = list_of_nan_col(df)
    for i in nan_col:
        if df[df.columns[i]].dtypes=='object': 
                    df[df.columns[i]].fillna(value=df[df.columns[i]].mode()[0], inplace=True)
        else:
            df[df.columns[i]].fillna(value=df[df.columns[i]].mean(), inplace=True)

In [43]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [42]:
%time
def fill_missing():
    for i,j in enumerate(df.isnull().any()):
        if j==True:
            if df[df.columns[i]].dtypes=='object': 
                    df[df.columns[i]].fillna(value=df[df.columns[i]].mode()[0], inplace=True)
            else:
                df[df.columns[i]].fillna(value=df[df.columns[i]].mean(), inplace=True)

CPU times: user 5 µs, sys: 1e+03 ns, total: 6 µs
Wall time: 10 µs

In [47]:
%time fill_missing()

CPU times: user 5.47 ms, sys: 0 ns, total: 5.47 ms
Wall time: 4.91 ms

In [48]:
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [55]:
%time fill_nan_col()

CPU times: user 8.25 ms, sys: 0 ns, total: 8.25 ms
Wall time: 7.35 ms